/* Navbar item */
.navbar--item:hover .navbar--item_link {
  color: white;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.menu-item:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.submit_menuItem {
  width: 100%;
}

.submit_menuItem:active {
  transform: scale(0.98);
}

.menu-item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
